<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
{%load static%}
example
</head>
<body>
題幹：<br/>
下列敘述何者錯誤？<br/>
<hr/>
題目圖片：<br/>
<img src="{%static "image/image0.jpeg"%}"/>
<hr/>
選項1：<br/>
Mis（e） en Bouteille au Chateau：酒莊裝瓶<br/><br/>
選項2：<br/>
Chateau Lafite-Rothschild：酒莊名<br/><br/>
選項3：<br/>
Pauillac：產區名<br/><br/>
選項4：<br/>
 1985：葡萄酒裝瓶年分<br/><br/>
答案：
 <select id="select3">
    <option value="1">Mis（e） en Bouteille au Chateau：酒莊裝瓶&hellip;</option>
    <option value="2">Chateau Lafite-Rothschild：酒莊名</option>
    <option value="3">Pauillac：產區名</option>
    <option value="4">1985：葡萄酒裝瓶年分</option>
</select>
</body>
</html>