<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
example
</head>

<body>
題幹：<br/>
下列何者不是法國五大莊園？<br/>
<hr/>
選項1：<br/>
Chateau Lafite-Rothschild(拉菲酒莊)<br/><br/>
選項2：<br/>
Chateau Montelena Winery(蒙特萊那酒莊)<br/><br/>
選項3：<br/>
Chateau Mouton-Rothschild(木桐酒莊)<br/><br/>
選項4：<br/>
 Chateau Haut Brion(侯伯王酒莊)<br/><br/>
選項5：<br/>
Chateau Latour(拉度酒莊)<br/><br/>
答案：
<select id="select1">
    <option value="1">Chateau Lafite-Rothschild(拉菲酒莊)&hellip;</option>
    <option value="2">Chateau Montelena Winery(蒙特萊那酒莊)</option>
    <option value="3">Chateau Mouton-Rothschild(木桐酒莊)</option>
    <option value="4">Chateau Latour(拉度酒莊)</option>
</select>
</body>
</html>